/* IDs */
#navbar{
    background-color: white;
    height: 100px;
    width: 100vw;
    position: static;
    overflow: hidden;
    columns: 2;
    justify-content: space-between;
}

#navbar_logo{
    border-radius: 100%;
    height: 75px;
    width: 75px;
    margin-top: 10px;
    margin-left: 10px;
}

#navbar_links{
    list-style-type: none;
    justify-content: space-evenly;
    display: flex;
    margin-right: 20px;
    float: right;
}

/* ClassNames */
.navbar_link{
    margin-right: 15px;
}

.navbar_font{
    color: blac;
    text-decoration: none;
}